<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container">
        <h1>It's a <%= kindofday %></h1>
      <form class="" action="/" method="post">
        <label for="cityName"><h1>City Name:</h1> </label>
        <input type="text" name="cityName" placeholder="eg.London">
        <button type="submit" name="submit"><h1>Go See the Weather</h1></button>
      </form>
    </div>

  </body>
</html>
